nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    li {
        flex: 1;
        margin-right: em(4);
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        display: block;
        text-align: center;
        line-height: em(40);
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            background-color: rgba(white, 0.3);
        }
    }
}

.nav-main {
    li {
        background-color: $featureColor;
    }

    a {
        &.active {
            background-color: darken($featureColor, 10);
        }
    }

    @include mq($tablet){
        a {
            padding: 0 em(20)
        }
    }
    
}

.nav-sort {
    padding: 1rem;
    font-size: 1.5em;
    font-weight: 600;

    li:first-of-type {
        background-color: rgba($highlightColor, 0);
        font-family: 'Concert One', cursive, Georgia, 'Times New Roman', Times, serif;
        display: block;
        text-align: left;
        line-height: 2.5em;
        color: $success-retro-shine;
    }
    li a {
        color: $magenta-medium;
        border-radius: 0.5rem;

        &.active {
            border: 2px solid $action-sand-dune;
            color: $action-sand-dune;
        }

        &:hover {
            background-color: rgba($action-sand-dune, 0.9);
            color: $magenta-midnight-background;
        }
    }
    
    a {
        
    }
}