// Type

/* 

font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;

*/

body {
    font-family: 'Barlow', 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, nav a {
    font-family: 'Barlow', 'Sarabun', sans-serif;
}

h1 {
    font-weight: 600;
}

a {
    color: $textColor;
}

